@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
body {
  font-family: 'Heebo', sans-serif;
  font-weight: normal;
  background-color: #f7f7f7;
}
.color-white {
  color: rgb(255, 255, 255);
}
.font-size-16 {
  font-size: 16px;
}
.button-wh {
  height: 36px;
  width: 200px;
}
.p-left-100 {
  padding-left: 100px;
}
.p-right-100 {
  padding-right: 80px;
}
.m-top-27 {
  margin-top: 11px;
}
.header-background {
  position: static !important;
}
.header-height {
  background: rgb(48, 51, 61);
  height: 120px;
}
.header-link-text {
  font-weight: 500;
}
.media__img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.media__body-text {
  font-size: 24px;
  position: relative;
  top: 15px;
}
.media__body_subheading {
  position: relative;
  top: -10px;
}
.header_border-none {
  border: none !important;
}
.media_m-left {
  margin-left: 80px;
}
.link_m-right {
  margin-right: 80px;
}
/* alert */
.alert_position-sticky {
  position: sticky;
  top: 0px;
  z-index: 500;
}
.alert-theme {
  background: rgb(247, 152, 28);
  border-radius: 0px;
  height: 82px;
}
.alert-icon_text {
  color: rgb(53, 64, 82);
  margin-left: -30px;
  position: relative;
  top: 5px;
}
.button-div {
  margin-right: -50px;
}
.button-viewmore {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(13, 60, 200);
  text-decoration: none !important;
  color: rgb(13, 60, 200) !important;
}
.main-section {
  margin: 40px 100px auto 100px;
}
.section-heading {
  color: rgb(53, 64, 82);
  font-size: 40px;
}
.section-subheading {
  color: rgb(127, 143, 164);
  margin-bottom: 30px;
}
.section-main-btn {
  background: linear-gradient(
    -180deg,
    rgb(13, 60, 200) 0%,
    rgb(4, 41, 181) 100%
  );
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 36px;
  width: 307px;
}
.tabs_bgcolor {
  background-color: #f7f7f7;
}
.tab-text li a {
  margin: 30px 22px 20px;
  color: rgb(69, 79, 87);
  font-weight: bold;
  height: 22px;
  line-height: 22px;
}
.tab-heading {
  font-size: 24px;
  color: rgb(13, 60, 200);
}
.tab-selector::after {
  border: 2px solid rgb(28, 73, 186);
}
.tab-inactive-text {
  color: rgb(127, 143, 164) !important;
}
/*card*/
.card-m {
  padding: 5px;
  margin-top: 20px;
  min-height: 90px !important;
  border-radius: 0px !important;
  background: rgb(255, 255, 255) !important;
  box-shadow: 2px 2px 20px 5px rgba(13, 60, 200, 0.05) !important;
}
.card_border-red {
  border-left: 12px solid rgb(248, 83, 89) !important;
}
.card_border-yellow {
  border-left: 12px solid rgb(247, 152, 28) !important;
}
.error-text {
  color: rgb(248, 83, 89);
}
.card-address-text {
  color: rgb(53, 64, 82);
}
.card-button_filled {
  background: rgb(71, 158, 235);
  border: none;
}
.card-button_unfilled {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(13, 60, 200);
  color: rgb(13, 60, 200);
}
.icon_color-red {
  fill: rgb(248, 83, 89) !important;
}
.card-text,
.error-text,
.site-text {
  margin-right: 20px;
}
.card-text-1 {
  color: rgb(127, 143, 164);
  letter-spacing: 0.55px;
}
.card-text-2 {
  color: rgb(247, 152, 28);
}
.site-text {
  color: rgb(53, 64, 82);
  font-weight: bold;
}
.table-style {
  background: rgb(255, 255, 255);
  border-radius: 0px;
  border: 1px solid rgb(211, 219, 245);
}
.table-style tr {
  height: 50px;
}
.table-heading {
  color: rgb(53, 64, 82);
  font-weight: 500;
  letter-spacing: 0.55px;
}
.table-row-text {
  color: rgb(53, 64, 82);
}
.thead_bgcolor {
  background: rgba(13, 60, 200, 0.05) !important;
}
.progress-text {
  color: rgb(127, 143, 164);
  letter-spacing: 0.55px;
}
.mtx-heading {
  margin: 30px 0;
}
.grid-text {
  background: rgb(48, 51, 61);
  letter-spacing: 0.55px;
}
.link_color-white a {
  color: rgb(255, 255, 255);
  margin: 0 20px;
}
