@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
html {
  background-color: #fcfcfc !important;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
}
.font-16 {
  font-size: 16px;
}
.color-light {
  color: rgb(146, 146, 146);
}
.color-lightblue {
  color: rgb(0, 160, 255);
}
.container {
  margin: 3rem auto;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.08);
  min-height: 756px;
  position: relative;
  width: 80%;
}
.headshot-size span img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}
.mobile-border_top {
  border-top: 1px solid rgba(151, 151, 151, 0.15);
}
.mobile-display_none {
  display: none;
}
@media (min-width: 1024px) {
  .desktop-display_none {
    display: none;
  }
  .headshot-size span img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .mobile-display_none {
    display: inline;
  }
  .icon_style {
    transform: rotate(90deg);
    fill: var(--sds-c-icon-color-foreground, rgb(0, 160, 255)) !important;
    margin-right: 3px;
  }
}
